.cards__item {
    padding-top: 60px;
    width: 240px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards__item:nth-child(3n) {
    padding-right: 0;
}